body {
    margin: 0;
    background-color: #413543;
    color: #8F43EE;
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.contact-form {
    align-items: center;
    text-align: center;
}

main section {
    height: 100vh;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
}

main section:nth-last-of-type(2) {
    background-color: #413543;
}