body {
    margin: 0;
    background-color: #413543;
    color: #8F43EE;
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


main {}

.product-item {
    width: 300px;
    height: 400px;
    background-color: #F0EB8D;
    border-radius: 10px;
    margin: 1rem;
    color: #413543;
    text-align: center;
}

.product-list {
    transform: translateY(30vh);
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.product-item img {
    width: 230px;
    height: 230px;
}

.product-item a {
    text-decoration: none;
    color: #8F43EE;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid #8F43EE;
    transition: 0.5s;
    display: inline-block;
}

.product-item a:hover {
    background-color: #413543;
    transform: scale(105%)
}