body {
    margin: 0;
    background-color: #2D2727;
    color: #8F43EE;
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


main {
    font-size: 2.5rem;
    height: 100vh;
    align-content: center;
    text-align: center;
}


.products {
    height: 100vh;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.products div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.example-product {
    
    color: #8F43EE;
    margin: 0.5rem;
    background-color: #413543;
    border-radius: 100px;
    width: 17%;
    height: 400px;
    text-decoration: none;
    transition: 1s;
    margin-bottom: 5rem;
}
.example-product img{
    transform: translateY(-2rem);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: #413543;
    border: #F0EB8D 2px solid;
}

.events {
    height: 100vh;
    background-color: #413543;
    color: #F0EB8D;
    align-content: center;
    text-align: center;
}
table {
    width: 100%;
    height: 90%;
    text-align: center;
}
td{
    border: #F0EB8D 2px;
    border-style: solid none none none;
}

.aboutus {
    display: flex;
    background-color: aliceblue;
    height: 100vh;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
}
#aboutuspic{
    height: 100px;
    width: 100px;
}

@media (max-width: 600px) {

    .example-product {

        width: 48%;
    }
}