body {
    margin: 0;
    background-color: #2D2727;
    color: #8F43EE;
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


main {
    font-size: 2.5rem;
    height: 100vh;
    align-content: center;
    text-align: center;
}


.products {
    height: 100vh;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.products div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.example-product {

    margin: 0.5rem;
    background-color: #2D2727;
    width: 23%;
    height: 400px;
    text-decoration: none;
    transition: 1s;
}


.events {
    height: 100vh;
    background-color: #413543;
    color: #F0EB8D;
    align-content: center;
    text-align: center;
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
}


.aboutus {
    display: flex;
    background-color: aliceblue;
    height: 100vh;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
}


@media (max-width: 600px) {

    .example-product {

        width: 48%;
    }
}