body {
    margin: 0;
    background-color: #413543;
    color: #8F43EE;
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


nav {
    position: fixed;
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    border: solid #F0EB8D;
    border-width: 0 0 2px 0px;
    min-height: fit-content;
}

nav div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 40%;
}

.nav-item {
    display: inline-block;
    text-decoration: none;
    color: #8F43EE;
    height: 2rem;
    font-size: 1.5rem;
    transition: 1s;

}

.nav-item:hover {
    transform: scale(110%);
}

.nav-item div {
    text-align: center;
    width: 10rem;
}

.sm-item img {
    height: 100%;
    width: 3rem;
}

.sm-item {
    transition: 1s;
}

.sm-item:hover {
    transform: scale(110%);

}

#logo {
    width: 10rem;
    height: 10rem;
    transition: 1s;
    transform: translateY(2rem);
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav div:nth-last-of-type(2) {
        flex-direction: column;
        align-items: center;

    }

    .sm-item img {
        height: 100%;
        width: 2rem;
    }

    #logo {
        margin-bottom: 2rem;
        height: 5rem;
        width: 5rem;
    }
}