body {
    margin: 0;
    background-color: #413543;
    color: #8F43EE;
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

main {
    height: 120vh;
    display: flex;
    justify-content: center;
}

main div {
    justify-content: center;
    width: 95%;
    height: 90vh;
    margin-top: 20vh;
    background-color: #2D2727;
    display: flex;
}